* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

body{
    font-family: 'Poppins', sans-serif;
}

:root {
    --blanco--primario: #FFFFFF;
    --azul--primario: #203971;
    --azul--secundario: #4770B3;
    --azul--terciario: #6D96CE;
    --negro: #000000;
}

.logo {
    width: 15rem;
}

.nav__principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    background-color: var(--blanco--primario);
    gap: 2rem;
    padding: 1.5rem;
    border-bottom: 1px solid #e0e0e0;
}

.nav__principal-botones {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav__principal-link {
    color: #666;
    font-size: 1.5rem;
    text-decoration: none;
    margin: 0rem 1rem;
}

.nav__principal-link:hover {
    color: var(--azul--terciario);
}

.boton__1 {
    border-radius: 1rem;
    height: 3rem;
    cursor: pointer;
    font-size: 1.5rem;
    border: none;
    background-color: var(--azul--primario);
    padding: 0rem 2rem;
    color: var(--blanco--primario);
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.boton__1:hover {
    background-color: var(--azul--terciario);
}

.boton__1:active {
    background-color: var(--azul--primario);
}

.menu-toggle {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 1rem;
}

.contenedor__inicio {
    max-width: 70rem;
    margin: 2rem auto;
    padding: 0 1rem;
    margin-top: 10rem; 
}

.contenedor__encuesta-header {
    margin-bottom: 2rem;
}

.contenedor__inicio-titulo {
    font-size: 2.5rem;
    color: var(--azul--primario);
    margin-bottom: 2rem;
    text-align: center;
}

.descripcion__encuesta {
    font-size: 16px;
    color: #666;
    margin-top: 10px;
    text-align: center;
}

.contenedor__preguntas {
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1080px;
}

.formulario {
    display: flex;
    flex-direction: column;
}

.pregunta {
    margin-bottom: 20px;
}

.pregunta h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.selector__pregunta, .texto__pregunta {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.texto__pregunta {
    height: 100px;
    resize: none;
}

.boton__finalizar {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    align-self: center;
    margin-top: 20px;
}

.boton__finalizar:hover {
    background-color: #0056b3;
}

@media (width < 769px) {

    .menu-toggle {
        display: block;
        font-size: 3rem;
        color: var(--azul--primario);
        font-weight: bold;
    }

    .nav__principal-botones {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0;
        background-color: var(--blanco--primario);
        width: 100%;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
        padding: 1rem 0;
    }

    .nav__principal-botones.active {
        display: flex;
    }

    .nav__principal-link {
        display: block;
        margin: 1rem 0;
    }

    .contenedor__inicio-titulo {
        font-size: 3rem;
    }
}